%section.page-content
  %h1.word-display= word

  %div.word-syllables
    - syllables.each.with_index do |syllable, index|
      - if stress? index
        %em.stress(title="Sílaba tônica")= syllable
      - else
        = syllable
      - unless last? index
        &middot;

  %p.word-description= description

  %ol.word-examples
    - examples.each do |example|
      %li= example

%nav.sidebar
  %a.randomize-button(href="/random") Embaralhar
  %div.more-words
    %h2 Descubra mais
    %ul
      - random.each do |word|
        %li
          %a(href="#{url(word)}")= word
